<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--引入其他公共文件-->
<%- include('public/header') %>
<br>

--------index中的<%=session%>

<!--渲染html-->
<%- html %>
<br>

<%= title %>
<%= title1 %>
<ul>
    <% for(var i = 0; i < arr.length; i++) { %>
        <li><%= arr[i] %></li>
    <% } %>
</ul>

<br>

<% if (num < 1000) { %>
    <div>100</div>
<% } %>

</body>
</html>
